<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green Auction</title>
    <link rel="icon" href="/static/images/sprout.png" type="icon">
    <link rel="stylesheet" href="/static/css/mystyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
    <script src="/static/javascript/myscript.js"></script>

</head>
<style>
    .pro{
        width: 500px;
        height: auto;
        z-index: -1;
    }
</style>

<body>
            <!-- blur the background -->
    
            <div class="blur" id="blur">

            </div>

        

            <!--  nav bar coding below - -->
    <div class="nav">
        <h2 class="green"><span style="color: rgb(35, 180, 35);">Green</span>  Auction</h2>

        <nav>
            <ul >
                <a href="{{ url_for('dashboard') }}"><li>Dashboard</li></a>
                <a href="{{ url_for('myauction') }}"><li>My Auctions</li></a>
                <a href="{{url_for('mybidding') }}"><li>My Biddings</li></a>

                <a href="{{ url_for('profile')}}"><li>Profile</li></a>
                <a href="{{url_for('about')}}"><li>About</li></a>
                <a href="{{ url_for('logout') }}"><li>Logout</li></a>
            </ul>
        </nav>
    </div> 

    <!-- loader -->
    <div class=" blur2">

    </div>

    <div class="profile">
        <div class="ppro">
            {% if result %}
                <p>Name : {{result["name"]}} </p>
                <p>Email : {{result["email"]}} </p>
                <p>Mobile Number : {{result["number"] }} </p>
            {% endif %}
            <form action="">
                <p>For Any Feedback </p>
                <textarea name="" id="" cols="20" rows="10" style="width: 400px;" placeholder="Write Something"></textarea><br>
                <button class="bidbutton5" type="submit">Submit</button>

            </form>
            

            

        </div>
        <img class="pro" src="/static/images/pro.jpg" alt="">

    </div>

    <footer>
        <p>This Wbsite is a Project of a Final Year Student</p>
    </footer>






    
</body>

</html>